<!-- email/registration.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Добро пожаловать!</title>
</head>
<body>
    <h1>Добро пожаловать, {{ username }}!</h1>
    <p>Вы успешно зарегистрировались на нашем сайте. Мы рады приветствовать вас в нашей системе.</p>
    <p>Ваши данные для входа:</p>
    <ul>
        <li>Имя: {{ username }}</li>
        <li>Email: {{ email }}</li>
        <li>Email: {{ auth_code }}</li>


    </ul>
    <p>С уважением,<br>Ваша команда сайта</p>
</body>
</html>