{% extends 'my_app/base.html' %}
{% load static %}
{% block title %}{{title}}{% endblock %}
{% block content %}
 <div class="site-section bg-light contact-wrap" id="contact-section">
      <p class="container">
        <div class="row justify-content-center text-center">
          <div class="col-md-8  section-heading">
            <h2 class="heading mb-3">Войти</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-7">
            <form method="post" action="." data-aos="fade">
              {% csrf_token %}

              <div class="form-group row">
                <div class="col-md-6 mb-3 mb-lg-2">
                  <input type="text" class="form-control" name="username" id="username" placeholder="Логин" required>
                </div>
              </div>

<!--              <div class="form-group row">-->
<!--                <div class="col-md-6 mb-3 mb-lg-0">-->
<!--                  <input type="email" id="email" name="email" class="form-control" placeholder="Email" required>-->
<!--                </div>-->
<!--              </div>-->
              <div class="form-group row">
                <div class="col-md-6 mb-3 mb-lg-2">
                  <input type="password" class="form-control" name="password" id="password" placeholder="Пароль" required>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-6">

                  <input type="submit" class="btn btn-primary py-3 px-5 btn-block" value="Отправить">
                </div>
              </div>
                {% if form.non_field_errors %}
                    <p>{{form.non_field_errors }}</p>
                {% endif %}
            </form>
            
            <a class="section-small-title" href='{% url "register" %}'>Регистрация</a>
            <p>Войти через <a href='{% url "social:begin" "github" %}' >GitHub</a> или <a href="{% url 'social:begin' 'vk-oauth2' %}">Вконтакте</a></p>
        
            
          </div>
        </div>
      </div>
    </div>
{% endblock content %}